.home-layer {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #31cc86;
    min-height: 750px;
    width: 100%;
    justify-content: center;
  }
    
  .main-section {
    padding: 20px;
    color: #1f1f1fe7;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 500;
    max-width: 700px; 
    padding-top: 400px; 
    margin-top: -400px;  
  }
    
  .main-section h2 {
    font-size: 65px;
    margin-bottom: 15px;
    font-weight: 600;
  }
    
  .main-section p {
    font-size: 19px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
    
  .main-section  span {
    color: #f1f1f1;
  }